body {
  font-family: "Avenir", sans-serif;
  background-image: url("https://media.cntraveler.com/photos/5c3f46c2a5c1d51f43a9d220/16:9/w_1920,c_limit/Japan_Cherry-Blossoms_GettyImages-179989245.jpg");
  background-size: cover;
  background-color: black;
  color: white;
  text-shadow: 4px 4px 10px #000000;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-size: 45px;
}

ul {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

li {
  color: rgb(194, 46, 194);
  text-shadow: none;
  font-size: 15px;
  margin: 10px 0;
}
